@model ProductUpdate

<form style="margin:auto" class="form-group" asp-action="Update" asp-controller="Product" method="post">
    <section style="width:40%;height:70%">

        <section>
            <input type="hidden" asp-for="Product.Id" />
        </section>

        <div class="input-group input-group-lg">
            <span style="width:120px" class="input-group-text" id="inputGroup-sizing-lg">Name </span>
            <input asp-for="Product.Name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>

        <div class="input-group input-group-lg">
            <span style="width:120px" class="input-group-text" id="inputGroup-sizing-lg">Description </span>
            <input asp-for="Product.Description" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>

        <div class="input-group input-group-lg">
            <span style="width:120px" class="input-group-text" id="inputGroup-sizing-lg">Price </span>
            <input asp-for="Product.Price" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>

        <div class="input-group input-group-lg">
            <span style="width:120px" class="input-group-text" id="inputGroup-sizing-lg">Discount </span>
            <input asp-for="Product.Discount" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
        </div>
        <div style="text-align:center;margin:20px" class="d-grid gap-2 d-md-block">
            <button  class="btn btn-primary" type="submit">Update</button>
        </div>
    </section>
</form>

